GEMINI_API_KEY=""

# local (localStorage) | http (banco de dados)
NEXT_PUBLIC_DATA_SOURCE="local"

# Auth (defina para proteger seu app)
AUTH_SECRET=""  # openssl rand -base64 32
AUTH_EMAIL=""
AUTH_PASSWORD=""

# Banco de dados (Turso)
DATABASE_URL=""       # ex: libsql://seu-db.turso.io
DATABASE_AUTH_TOKEN="" # token do Turso
